body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
/* ---------font image------------- */
body img {
  width: 100%;
}
/* -------canvas -----------*/
canvas {
  background: teal;
  border: 3px solid #000;
  border-radius: 10px;
  width: 85vw;
  margin-top: 4vw;
}
#canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* buttons */
/* ------------start button--------------- */
#start-button {
  font-size: 4vw;
  font-weight: bolder;
  background-color: transparent;
  color: navy;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2vw;
  left: 45vw;
}
#start-button:hover {
  color: rgb(11, 155, 11);
  cursor: pointer;
}
/*----------------- canvas buttons------------- */
#canvasButtons {
  display: flex;
  width: 75vw;
  height: 0px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 12vw;
}

#restart-button {
  color: rgb(67, 73, 69);
  font-size: 4vw;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
#msg-button {
  color: red;
  font-size: 3vw;
  background-color: transparent;
  border: none;
}
#exit-button {
  color: rgb(67, 73, 69);
  font-size: 4vw;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
#restart-button:hover {
  color: #0f0;
}
#exit-button:hover {
  color: red;
}

/* class display-none */
.display-none {
  display: none;
}
/* players div */
#players {
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 6vw;
  left: 12vw;
}
#players div {
  background-color: rgb(17, 15, 15, 0.2);
}
.flip-players {
  flex-direction: row-reverse;
}
/* players input */
#player1 {
  color: #ff851b;
}
#player2 {
  color: #ff4136;
}
.name {
  font-family: monospace;
  text-align: center;
  width: 16vw;
  height: 3.5vw;
  font-size: 2vw;
  background-color: transparent;
  border: none;
}
/* Score buttons */
#score1 {
  color: #ff851b;
}
#score2 {
  color: #ff4136;
}
.score {
  text-align: center;
  padding: 0 3vw 0 1vw;
  height: 4vw;
  font-size: 2vw;
  background-color: transparent;
  border: none;
}
