body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
/* ---------font image------------- */
body img {
  width: 100%;
}
/* -------canvas -----------*/
canvas {
  background: teal;
  display: block;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 10px;
}
#canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* buttons */
/* ------------start button--------------- */
#start-button {
  font-size: 50px;
  font-weight: bolder;
  background-color: transparent;
  color: navy;
  border: none;
  cursor: pointer;
}
#start-button:hover {
  color: rgb(11, 155, 11);
  cursor: pointer;
}
/*----------------- canvas buttons------------- */
#canvasButtons {
  display: flex;
  width: 900px; /*canvas width*/
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 65px;
}

#restart-button {
  color: rgb(67, 73, 69);

  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 20px;
  border: none;
}
#score-button {
  color: red;
  font-size: 40px;
  background-color: transparent;
  padding: 5px 20px;
  border: none;
}
#exit-button {
  color: rgb(67, 73, 69);
  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 20px;
  border: none;
}
#restart-button:hover {
  color: #0f0;
}
#exit-button:hover {
  color: red;
}

/* class display-none */
.display-none {
  display: none;
}

#start {
  font-family: monospace;
  width: 900px;
  display: flex;
  flex-direction: column-reverse;
}

#players {
  width: 900px;
  display: flex;
  justify-content: space-around;
}
#players div {
  display: flex;
  height: 0px;
}
.players {
  flex-direction: row-reverse;
}
#player1 {
  color: #ff851b;
}
#player2 {
  color: #ff4136;
}
.name {
  font-family: monospace;
  text-align: center;
  position: relative;
  top: 10px;
  width: 200px;
  height: 40px;
  font-size: 22px;
  border: none;
  background-color: rgb(17, 15, 15, 0.2);
}
#score1 {
  color: #ff851b;
}
#score2 {
  color: #ff4136;
}
.score {
  position: relative;
  text-align: center;
  top: 10px;
  width: 100px;
  height: 40px;
  font-size: 22px;
  background-color: rgb(17, 15, 15, 0.2);
  border: none;
}
