body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  /* background: url(../img/snake-gif.gif) no-repeat 0vw -5vw;
  background-size: cover; */
}
/* ---------font image------------- */
body img {
  width: 100vw;
}
/* -------canvas -----------*/
canvas {
  background: teal;
  border: 3px solid #000;
  border-radius: 10px;
  width: 85vw;
  /* height: 55vw; */
  margin-top: 4vw;
}
/* #canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* buttons */
/* ------------start button--------------- */
#start-button {
  font-size: 7vw;
  font-weight: bolder;
  background-color: transparent;
  color: rgb(11, 152, 199);
  border: none;
  position: absolute;
  top: 20vw;
  left: 42vw;
}
#start-button:hover {
  color: rgb(11, 155, 11);
  cursor: pointer;
}
/*----------------- canvas buttons------------- */
#canvasButtons {
  display: flex;
  width: 75vw;
  height: 0px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 12vw;
}

#restart-button {
  color: rgb(67, 73, 69);
  font-size: 4vw;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
#msg-button {
  color: red;
  font-size: 3vw;
  background-color: transparent;
  border: none;
}
#exit-button {
  color: rgb(67, 73, 69);
  font-size: 4vw;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
#restart-button:hover {
  color: #0f0;
}
#exit-button:hover {
  color: red;
}

/* class display-none */
.display-none {
  display: none;
}
/* players div */
#players {
  width: 75vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 6vw;
  left: 12vw;
}
#players div {
  background-color: rgb(17, 15, 15, 0.2);
}
.flip-players {
  flex-direction: row-reverse;
}
/* players input */
#player1 {
  color: #ff851b;
}
#player2 {
  color: #ff4136;
}
.name {
  font-family: monospace;
  text-align: center;
  width: 16vw;
  height: 4vw;
  font-size: 3vw;
  background-color: transparent;
  border: none;
}
/* Score buttons */
#score1 {
  color: #ff851b;
}
#score2 {
  color: #ff4136;
}
.score {
  text-align: center;
  padding: 0 3vw 0 1vw;
  height: 4vw;
  font-size: 2vw;
  background-color: transparent;
  border: none;
}

@media (min-width: 501px) {
  #arrowButtonsDiv {
    display: none;
  }
}
@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: url(../img/snake-gif.gif) no-repeat -33vw;
    background-size: cover;
    height: 100vw;
  }
  /* -------------------- */
  /* ---------font image------------- */
  body img {
    width: 0%;
  }
  /* -------canvas -----------*/
  canvas {
    background: teal;
    border: 3px solid #000;
    border-radius: 10px;
    width: 95vw;
    /* height: 65vw; */
    margin-top: 20vw;
  }
  /* #canvas-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  /* buttons */
  /* ------------start button--------------- */
  #start-button {
    font-size: 55px;
    font-weight: bolder;
    background-color: transparent;
    color: rgb(11, 152, 199);
    border: none;
    position: absolute;
    top: 20vw;
    left: 35vw;
  }
  #start-button:hover {
    color: rgb(11, 155, 11);
    cursor: pointer;
  }
  /*----------------- canvas buttons------------- */
  #canvasButtons {
    display: flex;
    width: 95vw;
    height: 0px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30vw;
  }

  #restart-button {
    color: rgb(67, 73, 69);
    font-size: 4vw;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  #msg-button {
    color: red;
    font-size: 3vw;
    background-color: transparent;
    border: none;
  }
  #exit-button {
    color: rgb(67, 73, 69);
    font-size: 4vw;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  #restart-button:hover {
    color: #0f0;
  }
  #exit-button:hover {
    color: red;
  }

  /* class display-none */
  .display-none {
    display: none;
  }
  /* players div */
  #players {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 1vw;
    left: 0vw;
  }
  #players div {
    background-color: rgb(17, 15, 15, 0.2);
  }
  .flip-players {
    flex-direction: row-reverse;
  }
  /* players input */
  #player1 {
    color: #ff851b;
  }
  #player2 {
    color: #ff4136;
  }
  .name {
    font-family: monospace;
    text-align: center;
    width: 20vw;
    height: 5vw;
    font-size: 3vw;
    background-color: transparent;
    border: none;
  }
  /* Score buttons */
  #score1 {
    color: #ff851b;
  }
  #score2 {
    color: #ff4136;
  }
  .score {
    text-align: center;
    padding: 0 3vw 0 1vw;
    /* height: 4vw; */
    font-size: 3vw;
    background-color: transparent;
    border: none;
  }

  /* -------------------- */

  .arrowButtons {
    padding: 45px 40px;
    border: 1px solid rgb(8, 8, 109);
    border-radius: 30px;
    color: teal;
  }
  .arrowBox {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    /* align-items: center; */
    width: 95vw;
  }
  #leftRight {
    /* width: 200px; */
  }
  #left {
    background: url(../img/arrow-key.png) no-repeat -5px -55px;
    background-size: 200px;
  }
  #up {
    background: url(../img/arrow-key.png) no-repeat -60px 0px;
    background-size: 200px;
    padding: 40px 40px;
  }
  #right {
    background: url(../img/arrow-key.png) no-repeat -115px -55px;
    background-size: 200px;
  }
  #down {
    background: url(../img/arrow-key.png) no-repeat -60px -115px;
    background-size: 200px;
    padding: 40px 40px;
  }
}
@media (min-width: 501px) and (max-width: 900px) {
  canvas {
    background: teal;
    border: 3px solid #000;
    border-radius: 10px;
    width: 85vw;
    /* height: 55vw; */
    margin-top: 3vw;
  }
  #players {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 5vw;
    left: 0vw;
  }
  .name {
    font-family: monospace;
    text-align: center;
    width: 20vw;
    height: 4vw;
    font-size: 3vw;
    background-color: transparent;
    border: none;
  }
  .score {
    text-align: center;
    padding: 0 3vw 0 1vw;
    font-size: 3vw;
    background-color: transparent;
    border: none;
  }
}
