canvas {
  display: block;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 10px;
}
#canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background: lightblue;
}
#start-button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10vw;
  font-weight: bolder;
  background-color: transparent;
  color: #0f0;
  border: none;
  position: relative;
  top: 50%;
  left: 40%;
}
#start-button:hover {
  color: rgb(11, 155, 11);
  cursor: pointer;
}

#restart-button {
  color: rgb(67, 73, 69);

  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 20px;
  border: none;
}
#exit-button {
  color: rgb(67, 73, 69);
  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 20px;
  border: none;
}
#canvas-buttons {
  display: flex;
  width: 600px; /*canvas width*/
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 130px;
}
#restart-button:hover {
  color: #0f0;
}
#exit-button:hover {
  color: red;
}
img {
  position: absolute;
}
.display-none {
  display: none;
}
