body {
  background: lightblue;
}
/* canvas */
canvas {
  display: block;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 10px;
}
#canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* buttons */
#start-button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10vw;
  font-weight: bolder;
  background-color: transparent;
  color: #0f0;
  border: none;
  position: relative;
  top: 0;
  left: 40%;
  animation-name: start-button;
  animation-duration: 13s;
  animation-fill-mode: forwards;
}
/* start button animation */
/* @keyframes start-button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

#start-button:hover {
  color: rgb(11, 155, 11);
  cursor: pointer;
}

#restart-button {
  color: rgb(67, 73, 69);

  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 20px;
  border: none;
}
#exit-button {
  color: rgb(67, 73, 69);
  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 20px;
  border: none;
}
#canvasButtons {
  display: flex;
  width: 600px; /*canvas width*/
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 130px;
}
#restart-button:hover {
  color: #0f0;
}
#exit-button:hover {
  color: red;
}
/* font image */
body img {
  position: absolute;

  animation-name: snake-font;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

/* img animation */
/* @keyframes snake-font {
  0% {
    left: -1500px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
} */

.display-none {
  display: none;
}
