canvas {
  display: block;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 10px;
}
body {
  background: lightblue;
}
#start-button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  font-weight: bolder;
  background-color: transparent;
  color: #0f0;
  border: none;
  margin-bottom: 200px;
  position: relative;
  top: 30px;
  left: 400px;
}
#restart-button {
  color: white;
  font-size: 50px;
  background-color: transparent;
  position: absolute;
  top: 70px;
  left: 400px;
}
img {
  position: absolute;
}
.display-none {
  display: none;
}
